[Unit]
Description = Catalogue Service

[Service]
User="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}/data/cart:USER token={{ token }} url=http://vault.nareshdevops1218.online:8200') }}";
Environment=MONGO="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}/data/catalogue:MONGO token={{ token }} url=http://vault.nareshdevops1218.online:8200') }}";
Environment=MONGO_URL="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}/data/catalogue:MONGO_URL token={{ token }} url=http://vault.nareshdevops1218.online:8200') }}";
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target